<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Contacto Cines EVAM</title>
</head>

<body>
    <div id="app">
        <v-app id="vapp">

            <v-app-bar extended color="#6A76AB" dark shrink-on-scroll prominent src="cine.jpg" fade-img-on-scroll
                scroll-target="#scrolling-techniques-4">
                <template v-slot:img="{ props }">
                    <v-img v-bind="props" gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"></v-img>
                </template>

                <v-spacer>
                    <img
                   src="./logo.png" onclick="location.href='index.html'">
                </v-spacer>

                <v-toolbar-title align-center>Contacta con nosotros</v-toolbar-title align-center>

                <v-spacer> </v-spacer>
                <v-spacer> </v-spacer>

            </v-app-bar>

            <v-content absolute>
                <v-container fixed fluid fill-height style="background: rgba(0, 0, 0, 0.7);color:white">
                    <v-flex xs12>


                        <v-card flat>
                            <v-snackbar v-model="snackbar" absolute top right color="success">
                                <span>¡Mensaje enviado!</span>
                                <v-icon dark>mdi-checkbox-marked-circle</v-icon>
                            </v-snackbar>
                            <v-form ref="form" @submit.prevent="submit">
                                <v-container fluid>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-text-field v-model="form.first" :rules="rules.name"
                                                color="purple darken-2" label="Nombre y apellidos" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-text-field v-model="form.last" :rules="rules.name" color="blue darken-2"
                                                label="Correo de contacto" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-textarea v-model="form.bio" color="teal" :rules="rules.name">
                                                <template v-slot:label>
                                                    <div>
                                                        Mensaje
                                                    </div>
                                                </template>
                                            </v-textarea>

                                    </v-row>
                                </v-container>
                                <v-card-actions>
                                    <v-btn :disabled="!formIsValid" text color="primary" type="submit">Enviar</v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-card>
                    </v-flex>
                </v-container>
            </v-content>

            <v-footer color="#6A76AB" app>
                <v-btn color="red lighten-2" dark onclick="location.href='index.html'">
                    Volver a Inicio
                </v-btn>
            </v-footer>

        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                const defaultForm = Object.freeze({
                    first: '',
                    last: '',
                    bio: ''
                })

                return {
                    form: Object.assign({}, defaultForm),
                    rules: {
                        name: [val => (val || '').length > 0 || 'Este campo no puede quedar vacío'],
                    },

                    snackbar: false,
                    defaultForm,
                }
            },

            computed: {
                formIsValid() {
                    return (
                        this.form.first &&
                        this.form.last && this.form.bio
                    )
                },
            },

            methods: {
                resetForm() {
                    this.form = Object.assign({}, this.defaultForm)
                    this.$refs.form.reset()
                },
                submit() {
                    this.snackbar = true
                    this.resetForm()
                },
            },
        })
    </script>

</body>

</html>